images/photos/
.htaccess
index.php
index-original.php
license.txt
readme.html
real-password.png
wordpress-5.9.3.zip
wp-admin/
wp-content/languages/admin-en_GB.mo
wp-content/languages/
wp-content/plugins/contact-form-7/
wp-content/plugins/duplicate-post/
wp-content/plugins/login-lockdown/
wp-content/plugins/polylang/
wp-content/themes/spacious/footer.php-OLD
wp-content/themes/spacious/functions.php-OLD
wp-content/themes/spacious/header.php-OLD
wp-content/themes/twentytwentyone/
wp-content/themes/twentytwentytwo/
wp-content/uploads/
wp-content/themes/twentytwenty/
wp-content/themes/spacious/inc/header-functions.php-OLD
website-password.txt
documents/
