.box1{
	padding: 22px 29px 31px 29px;
	xbackground: #eee;
	-xwebkit-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.07);
	-xmoz-box-shadow:    0px 0px 27px 0px rgba(0, 0, 0, 0.07);
	xxbox-shadow:         0px 0px 27px 0px rgba(0, 0, 0, 0.07);
	margin-bottom: 30px;
	
	background-color: #FDFDFD;
	border: solid 1px #EAEAEA;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.05) inset;
}
.title_box {
	color: #1e73be;
	font-size: 1.3em;
	font-weight: 500;
	padding-bottom:12px;
	border-bottom: solid 1px #DCDCDC;
	margin-bottom: 12px;
}
li.lang-item {
}
li.lang-item a {
    padding-top: 21px;
}
